<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
     </system.web>
  <connectionStrings>
    <add name="myConnectionString"
         connectionString="Server=tcp:zionorion.database.windows.net,1433;Initial Catalog=SafeCookSmartShop;Persist Security Info=False;User ID=orion;Password=SafeCookSmartShop01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>


</configuration>
